<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="com.echo.XT2007.Properties.Settings.XT2007ConnectionString"
            connectionString="Driver={Kingbase ODBC driver};provider=MSDASQL.1;persist security info=False;extended properties='';database=XT2007;server=192.168.0.1;port=55321;uid=SYSTEM;pwd=MANAGER"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>