<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=MSDASQL.1;Persist Security Info=False;Extended Properties='';Driver={Kingbase ODBC driver};database=XT2007;server=LOCALHOST;port=55321;uid=SYSTEM;PWD=MANAGER;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>